*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    color: var(--white-color, #FFF);
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A; 
    font-weight: 700;
    border: 0px;
    padding: 18px 36px;
}

.text-primary{
    color: #FD6E0A
}
.header{
    background: #FFF8F3;
    background-image: url('../images/sujon.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom,left;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* header and navigation styles */

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    margin-left: 226px;
    margin-right: 265px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
  
}
/* banner style */
.banner{
    display: flex;
    margin-left: 226px;
    align-items: center;
    margin-right: 38px;
}
.banner-subtitel{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-name{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
.banner-descripsion{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

/* section about */
.about{
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;
    font-size: 35px;
}
.section-description{
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    font-size: 20px;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-descripation{
    font-weight: 700;
    font-size: 20px;
    color:#474747;
}
/* ,,,,,, */
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 130px;
    color: #181818;
    margin-bottom: 30px;
    
}
.more-than{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
    width: 909px;
  text-align: center;
    color: var(--dark-03, #757575);
    
}
/* ........................................................................... */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--dark-01, #181818);
}
.skill-description{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-03, #757575);
}
/* ............................................................................ */
.adders-ok{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-top: 113px;
}
.Education{
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-02, #474747);
}
.bibag{
    font-size: 25px;
    font-weight: 700;
    color: var(--dark-02, #474747);
    margin-top: 30px;
}
.session{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-03, #757575);
    margin-top: 10px;
}
.list-skill{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-03, #757575);
    margin-top: 20px;
}
hr.new1 {
    border-top: 1px solid red;
    margin-top: 30px;
}
.resume-btn{
    text-align: center;
    margin-top: 69px;
}
/* .............................. */
.contact{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    margin-top: 113px;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    padding: 18px 30px;
    border: 0px;
    width: 100%;
}
.contact a{
    text-decoration: none;

}
.one{
    margin-right: 24px;
}